<div class="w-100 d-flex flex-column">
  <div class="close" (click)="toggleShowFilters()">{{isShowFilters?'Hide Filters':"Show Filters"}}</div>
  <div
    class="row actions"
    [ngClass]="{
      actions__show: isShowFilters,
      actions__hidden: !isShowFilters
    }"
  >
    <mat-form-field class="col-md-3 col-6" appearance="fill">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Ex. Pizza"
        [value]="searchValue"
        (keyup)="handleSearchValueChange($event)"
        [type]="searchInputType"
      />
    </mat-form-field>
    <mat-form-field class="col-md-3 col-6" appearance="fill">
      <mat-label>Search By</mat-label>
      <mat-select
        [(value)]="searchByKey"
        (selectionChange)="handleSearchByKeyChange($event)"
      >
        <mat-option *ngFor="let option of keysOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-6" appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select
        [(value)]="sortByKey"
        (selectionChange)="handleSortByChange($event)"
      >
        <mat-option *ngFor="let option of keysOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-3 col-6" appearance="fill">
      <mat-label>Sort Order</mat-label>
      <mat-select
        [(value)]="sortOrder"
        (selectionChange)="handleSortOrderChange($event)"
      >
        <mat-option *ngFor="let option of sortOrderOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="container-fluid px-4">
    <div class="w-100 d-flex flex-wrap model-list">
      <app-model-details
        class="my-3 mx-1 items"
        *ngFor="let item of filteredItems$ | async"
        [details]="item"
      ></app-model-details>
    </div>
  </div>
</div>
