<form class="p-3" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div class="container  ">
    <h3>Login</h3>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" type="email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

     <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password" type="password">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>


  </div>

</form>
